node_modules
.DS_Store
dist
dist-ssr
*.local
node_modules
.DS_Store
dist
dist-ssr
*.local

.idea
.vscode
.gradle
.classpath
.project
.settings


dist/
node_modules/
target/
build/
out/
logs/
.history/

rebel.xml
!gradle/wrapper/gradle-wrapper.jar
!.mvn/wrapper/maven-wrapper.jar

*.log
*.iml
